<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Super ERP 3000</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/temperature">Temperature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">ToDo app</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item" *ngIf="shared.isUserLoggedIn">
        <a class="nav-link" routerLink="/user/register">Register User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/list">List users</a>
      </li>
      <li class="nav-item" *ngIf="!shared.isUserLoggedIn">
        <a class="nav-link" routerLink="/user/login">User Login</a>
      </li>
    </ul>
  </div>
</nav>





<!--
  User:
  id
  user name
  email
  password
  retype password

  security question
  security question answer

  first name
  last name
  employee number
  full address
-->
